 
.bollBox{
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-content: space-around; 
}
.emptyDiv{
    min-width: 200px;;
    height: 450px;
    border: 3px solid;
    border-radius: 5px;
    align-items: center;
    align-content: center;
}
.colourCercul{
margin: 10px auto;
width: 70px;
height: 70px;
border-radius: 50%; 
border: 1px solid;
}
.btnDiv{
margin-top: 150px;
display: flex;
flex-direction: column;
width: 100px;
}
 
   